<mat-card>

    <mat-card-content>

        <form 
            action=""
            class="user-form"
            >

            <div class="user-form__row">

                <mat-form-field class="user-form__item">

                    <mat-label>
                        Name:
                    </mat-label>

                    <input 
                        type="text"
                        name="nameInput"
                        [(ngModel)] = "userSelected.name"
                        matInput
                        #NameInput="ngModel"
                        required
                    
                    >

                    <mat-hint>Fill the field above</mat-hint>
                    <mat-error>It must contain at least 1 char</mat-error>


                </mat-form-field>


            

            </div>


            <div class="user-form__row">

                <mat-form-field class="user-form__item">

                    <mat-label>
                        Usuário:
                    </mat-label>


                    <input 
                        type="text"
                        name="userInput"
                        matInput
                        [(ngModel)] = "userSelected.username"
                        #UserInput = "ngModel"
                        required
                        
                        >
                    <mat-hint>The user will be used to login</mat-hint>
                    <mat-error>User must be informed</mat-error>



                </mat-form-field>



                <mat-form-field class="user-form__item">

                    <mat-label>
                        Email:
                    </mat-label>


                    <input 
                        type="text"
                        name="emailInput"
                        matInput
                        appEmailInputValidator
                        [(ngModel)] = "userSelected.email"
                        #UserInput = "ngModel"
                        required
                        
                        >
                    <mat-hint>Fill the field with an email</mat-hint>
                    <mat-error *ngIf="UserInput.hasError('required')">An email must be informed</mat-error>
                    <mat-error *ngIf="UserInput.hasError('invalidEmail') && !UserInput.hasError('required')">This email is invalid, please type another</mat-error>
    



                </mat-form-field>

            </div>



        </form>


    </mat-card-content>



</mat-card>