<mat-card>

    <mat-card-content>

        <form 
            action=""
            class="user-form"
            #userForm = "ngForm"
            appPasswordConfirmationValidator
            >

            <div class="user-form__row">

                <mat-form-field class="user-form__item">

                    <mat-label>
                        Name:
                    </mat-label>

                    <input 
                        type="text"
                        name="nameInput"
                        [(ngModel)] = "userSelected.name"
                        matInput
                        #NameInput="ngModel"
                        required
                    
                    >

                    <mat-hint>Fill the field above</mat-hint>
                    <mat-error>It must contain at least 1 char</mat-error>


                </mat-form-field>


            

            </div>


            <div class="user-form__row">

                <mat-form-field class="user-form__item">

                    <mat-label>
                        Usuário:
                    </mat-label>


                    <input 
                        type="text"
                        name="userInput"
                        matInput
                        [appCredentialsValidator]="'username'"
                        [(ngModel)] = "userSelected.username"
                        [ngModelOptions] = "{ updateOn: 'blur' }"
                        #UserInput = "ngModel"
                        required
                        
                        >
                    <mat-hint>The user will be used to login</mat-hint>
                    <mat-error>User must be informed</mat-error>



                </mat-form-field>



                <mat-form-field class="user-form__item">

                    <mat-label>
                        Email:
                    </mat-label>


                    <input 
                        type="text"
                        name="emailInput"
                        matInput
                        appEmailInputValidator
                        [appCredentialsValidator]="'email'"
                        [(ngModel)] = "userSelected.email"
                        [ngModelOptions] = "{ updateOn: 'blur' }"
                        #EmailInput = "ngModel"
                        required
                        
                        >
                    <mat-hint>Fill the field with an email</mat-hint>
                    
                    <mat-error *ngIf="EmailInput.hasError('required')">An email must be informed</mat-error>
                    <mat-error *ngIf="EmailInput.hasError('invalidEmail') && !EmailInput.hasError('required')">This email is invalid, please type another</mat-error>
                    <mat-error *ngIf="EmailInput.hasError('invalidAlreadyEmail') && !EmailInput.hasError('required')">This email is already being used, please type another</mat-error>



                </mat-form-field>

            </div>


            <div class="user-form__row">

                <mat-form-field class="user-form__item">

                    <mat-label>
                        Password:
                    </mat-label>


                    <input 
                        type="password"
                        name="passwordInput"
                        matInput
                        [(ngModel)] = "userSelected.password"
                        (ngModelChange) = "onPasswordChange($event)"
                        [ngModelOptions] = "{ updateOn: 'change'}"
                        #PasswordFormControl = "ngModel"
                        appPasswordStrengthValidator
                        required
                    
                    >

                    <mat-progress-bar 
                        mode="determinate"
                        [value]="passwordValue"
                        [ngClass]="{
                            'weak-password': passwordValue === 0 || passwordValue === 30,
                            'medium-password': passwordValue === 60,
                            'strong-password': passwordValue === 100
                        }"
                    >
                    </mat-progress-bar>


                    <mat-hint>Inform a strong password</mat-hint>
                    <mat-error *ngIf="PasswordFormControl.hasError('required')">Please type a password</mat-error>
                    <mat-error *ngIf="PasswordFormControl.hasError('invalidPassword')">Please type <strong>stronger</strong> password</mat-error>

                </mat-form-field>


                
                <mat-form-field class="user-form__item">

                    <mat-label>
                        Cofirm password:
                    </mat-label>

                    <input 
                        type="text"
                        name="ConfirmPasswordInput"
                        matInput
                        ngModel
                        [ngModelOptions] = "{ updateOn: 'change'}"
                        #ConfirmPasswordFormControl = "ngModel"
                        required


                    >

                    <mat-hint>Confirm the password</mat-hint>
                    <mat-error *ngIf="ConfirmPasswordFormControl.hasError('required')">The password confirmation must be informed</mat-error>
                    <mat-error *ngIf="ConfirmPasswordFormControl.hasError('appPasswordConfirmationValidator') && !ConfirmPasswordFormControl.hasError('required')">The password needs to be the same as the typed before</mat-error>

                </mat-form-field>



            </div>


            <div class="user-form__row">

                <mat-form-field class="user-form__item">

                    <mat-label>Choose a date</mat-label>
                    <input 
                        name="DateInput"
                        matInput 
                        [matDatepicker]="picker"
                        [min]="minDate"
                        [max]="maxDate"
                        [ngModel] = "userDate"
                        (dateChange) = "onDateChange($event)"
                        required
                        readonly
                        
                        
                    >


                    <mat-hint>dd/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button matDatepickerApply color="primary">Apply</button>
                          </mat-datepicker-actions>
                    </mat-datepicker>
                        

                </mat-form-field>


                <mat-form-field class="user-form__item">

                    <mat-label>States:</mat-label>
                    <mat-select
                        name="StatesSelectInput"
                        [(ngModel)] = "userSelected.state"
                        required

                    >

                        <mat-option
                            *ngFor="let state of statesList"
                            [value]="state.id"
                            >
                            {{ state.descricao }}
                        </mat-option>

                    </mat-select>

                    <mat-hint>Select a state</mat-hint>
                    <mat-error>A valid state must be informed</mat-error>

                    
                </mat-form-field>

            </div>

            
            <div class="user-form__row">

                <div class="user-form__musics">


                    <mat-divider></mat-divider>
                    <div class="user-form__musics-title">
                        <h2>My musics:</h2>
                    </div>


                    <table mat-table [dataSource]="userSelected.musics" class="mat-elevation-z8">

                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                
                                <mat-form-field>

                                    <mat-label>
                                        Title:
                                    </mat-label>

                                    <input 
                                        [name]="'title-' + i"
                                        matInput
                                        [(ngModel)] = "element.title"
                                        type="text"
                                        required
                                    >

                                    <mat-error>

                                        This field must be informed

                                    </mat-error>



                                </mat-form-field>    
                            
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="band">
                            <th mat-header-cell *matHeaderCellDef> Band </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                            
                                <mat-form-field>

                                    <mat-label>
                                        Band:
                                    </mat-label>

                                    <input 
                                        [name]="'band-' + i"
                                        matInput
                                        [(ngModel)] = "element.band"
                                        type="text"
                                        required
                                    >

                                    <mat-error>

                                        This field must be informed

                                    </mat-error>



                                </mat-form-field>
                            
                            
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="genre">
                            <th mat-header-cell *matHeaderCellDef> Genre </th>
                            <td mat-cell *matCellDef="let element; let i = index"> 
                                
                                <mat-form-field>

                                    <mat-label>Genre:</mat-label>
                                    <input 
                                        type="text" 
                                        [name] = "'genre-'+i"
                                        [(ngModel)] = "element.genre"
                                        (ngModelChange) = "filterGenre($event)"
                                        [matAutocomplete] = "auto"
                                        matInput
                                        required
                                    >
                                    
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">

                                        <mat-option *ngFor="let genre of filteredGenreList" [value]="genre.id">
                                            {{ genre.description }}
                                        </mat-option>

                                    </mat-autocomplete>



                                </mat-form-field>


                            </td>
                        </ng-container>


                        <ng-container matColumnDef="favorite">
                            <th mat-header-cell *matHeaderCellDef> Favorite </th>
                            <td mat-cell *matCellDef="let element"> {{element.isFavorite}} </td>
                        </ng-container>





                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>


                </div>


            </div>



        </form>


    </mat-card-content>



</mat-card>